<!DOCTYPE html>
<html>
    <head>
        <title>Meu Banco Seguro</title>
    </head>
    <body>
        <h2>Login do Banco</h2>
        <form action="/login" method="get">
            <input type="text" name="user" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <!--Ele não apenas clica; ele dá a ordem para o formulário ser empacotado e enviado para o action que você definiu-->
            <button type="submit">Entrar no Banco</button>

        </form>
    </body>
</html>